

.sform-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
.mscreate-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

.mscreate-button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    margin-left: -10px;
}

.mscreate-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.serror-message {
    margin-top: 10px;
    text-align: center;
    color: red;
}

.success-message {
    margin-top: 10px;
    text-align: center;
    color: black;
} 
.password-input-container {
    position: relative;
}


