



/* Student Section Styles */
.student-section {
  max-width: 400px;
  margin: 0 auto;
}

.student-label {
  display: block;
  margin-top: 10px;
}

.student-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 50px;
}

.student-input2 {
  width: 426px;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 50px;
}
.student-submit-button {
  margin-top: 30px;
  width: 70%;
  padding: 10px;
  background-color: #344e41;
  color: white;
  border: none;
  border-radius: 10px;
}



/* STUDENT NAME DROPDOWN */

    .disabled-dropdown {
        pointer-events: none;
    }
    





    .dropdown .dropbtn {
      background-color: transparent;
      color: black;
      font-size: 16px;
      border: none;
      cursor: pointer;
      padding: 14px 16px;
      margin-top: -19px;
      left: 50px;
      font-family: Verdana;
      position: relative;
  }
  
  .dropdown .dropbtn:focus {
      outline: none;
  }
  
  .dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      right: 0;
  }
  
  .dropdown .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  .dropdown .dropdown-content a:hover {
      background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  /* Remove the arrow */
  .dropdown .dropbtn::after {
      display: none;
  }
  
  

/* PERMIT MODAL */
.modal {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .permit-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px 20px;
    border: 2px solid #5cff9b;
    width: 300px;
  }

  
  .permit-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    top: 100px;
    font-weight: bold;
  }
  
  .permit-close:hover,
  .permit-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .permit-modal-content h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .permit-modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .permit-modal-content label {
    margin-bottom: 10px;
  }
  
  .permit-modal-content select {
    margin-bottom: 20px;
  }
  
  .permit-modal-content button {
    padding: 10px 20px;
    background-color: #80ED99;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .permit-modal-content button:hover {
    background-color: #45a049;
  }
  


/* PROFILE MODAL  */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile-modal-content {
  position: relative; 
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  max-width: 400px;
  width: 100%;
}



.profile-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 40px;
  color: #888;
}
.profile-modal-content form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.headerstudent {
   font-family: 'Verdana';
   font-size: 40px;
   font-weight: bold;
   color: #344e41;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.student-submit-button {
  width: 400px;
  margin-left: 10px;
}

.profile-modal-content label {
  margin-bottom: 8px;
  height: 10px;
}

.profile-modal-content input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid red;
  border-radius: 4px;
  font-size: 6px;
  height: 30px;
}

.profile-modal-content button {
  padding: 10px 20px;
  background-color: #58e178;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.profile-modal-content button:hover {
  background-color: darkgreen;
}



/* EYE ICON */
.password-input-container {
  position: relative;
  width: 400px;
}

.password-input-container i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-input-container i:hover {
  color: #007bff; 
}



.download-icon {
  cursor: pointer;
  color: BLACK; 
  margin-left: 10px; 
  font-size: 17px;
}



.permit-content {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #434242;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(67, 66, 66, 0.1);
}

.permit-close {
  top: 370px;
  right: 830px;
  cursor: pointer;
}

.permit-content h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.permit-content p {
  margin: 5px 0;
}

.permit-content ul {
  padding-left: 20px;
}

.permit-content ul li {
  margin-bottom: 5px;
}

.permit-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.permit-content button:hover {
  background-color: #0056b3;
}

.modal-address {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin-top: 10px;
}

.modal-address img {
  margin-right: 20px;
}

.modal-logo {
  width: 60px;
  margin-top: 5px;
}


.dashboard-button {
  font-family: 'Arial';
  font-size: 25px;
  font-weight: bold;
  color: #80ED99;
  background-color: #80ED99;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}

.dashboard-button:hover {
  background-color: #80ED99; /* Adjust hover background color if needed */
}


.headerpermit {
  font-family: Verdana;
  font-size: 40px;
  font-weight: bold;
  color: #344e41;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


.h2 {
  font-family: Verdana;
  font-size: 20px ;
  font-weight: bold;
  color: #344e41 ;
}

.d-image {
  border-radius: 20px;
  width: 400px;
  margin-left: 20px;
}



.permit-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.permit-logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.permit-info {
  flex: 1;
}

.permit-info p {
  margin: 0;
  margin-bottom: 2px;
}

.permit-info ul {
  padding-left: 20px;
  list-style-type: disc;
}