.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
.student-create-button {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 10px;
}

.password-input-container input[type="password"] {
    width: calc(108% - 30px); /* Adjusted width */
}


.student-create-button {
    background-color: blue;
    color: #fff;
    cursor: pointer;
    margin-left: -0px;
    
}

.student-create-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.mqcreate-error-message {
    margin-top: 10px;
    text-align: center;
    color: red; /* Change the color to red */
}

.mqcreate-success-message {
    margin-top: 10px;
    text-align: center;
    color: green;
}  



