

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
.create-button {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

.password-input-container input[type="password"] {
    width: calc(108% - 30px); /* Adjusted width */
}


.create-button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    margin-left: -10px;
    
}

.create-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.mqcreate-error-message {
    margin-top: 10px;
    text-align: center;
    color: red; /* Change the color to red */
}

.mqcreate-success-message {
    margin-top: 10px;
    text-align: center;
    color: red;
}  
.close { 
    color: #aaa;    
    position: absolute;
    top: 200px;
    right: 590px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

